body{
    overflow-x: hidden;
    background-color:#F0EEED;
}
.dark body{
    background: #121212;
}

.ql-toolbar.ql-snow {
    background-color: #ffffff;
  }
  
  .ql-editor {
    background-color: #ffffff;
    min-height: 200px;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .blog-wrapper {
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
  }
  
  .blog-wrapper::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }