body{
    overflow-x: hidden;
    background-color:#F0EEED;
}
.dark body{
    background: #121212;
}

.ql-toolbar.ql-snow {
    background-color: #ffffff;
  }
  
  .ql-editor {
    background-color: #ffffff;
    min-height: 200px;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .blog-wrapper {
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
  }
  
  .blog-wrapper::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }

  .typing span {
    width: 5px;
    height: 5px;
    background-color: #000;
    display: inline-block;
    margin: 2px;
    border-radius: 50%;
  }
  
  .typing span:nth-child(1) {
    animation: bounce 1s infinite;
  }
  
  .typing span:nth-child(2) {
    animation: bounce 1s infinite 0.2s;
  }
  
  .typing span:nth-child(3) {
    animation: bounce 1s infinite 0.4s;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(8px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  