body{
    overflow-x: hidden;
    background-color:#F0EEED;
}
.dark body{
    background: #121212;
}

.ql-toolbar.ql-snow {
    background-color: #ffffff;
  }
  
  .ql-editor {
    background-color: #ffffff;
    min-height: 200px;
  }

